<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.ConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Config">
        <id column="id" property="id" />
        <result column="data_source" property="dataSource" />
        <result column="relationship" property="relationship" />
        <result column="table_sheet" property="tableSheet" />
        <result column="status" property="status" />
        <result column="operations" property="operations" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, data_source, relationship, table_sheet, status, operations, version
    </sql>

</mapper>
